
  /* @import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Handjet:wght@600;700&family=Roboto&display=swap'); */
  
  /* @import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Handjet:wght@100;700&family=Roboto&family=Signika:wght@600&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@600&family=Roboto&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    /* background: #081b29;
    /* justify-content: space-between;
    align-items: center;  */
    z-index: 100;
    /* font-family: 'Handjet', cursive; */  
}
body {
    color: aliceblue;
    background: #081b35;

}

.navbar{
    /* position: fixed;
    top: 0%;
    left: 0%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% 25% 1% 25%;
    background-color: whitesmoke;
    box-sizing: border-box;
    opacity: 0.6;
     filter: blur(0.0001%); 
    -webkit-filter: blur(0.0001%); 
    padding: 1% 5% 1% 5%;
    border: whitesmoke solid;
    border-radius: 40px;
}
.navbar a {

    font-family: 'Caprasimo', cursive;
    display: inline-block;
    font-size: 25px;
    color: #081b35;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #0ef;
}

.home {
    /* font-family: 'Caprasimo', cursive; */
    position: relative;
    width: 100%;
    justify-content: space-between;
    /* height: 100vh; */
    /* background: url(background.png) no-repeat; */
    background-color: #081b35;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    margin-top: 10rem;
    padding: 70px 10% 0;
}

.home-content {

    max-width: 600px;
}

.home-content h3 {
    /* font-family: 'Caprasimo', cursive; */
    font-size: 32px;
    font-weight: 700;
    /* color: #0ef; */
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    /* font-family: 'Caprasimo', cursive; */
    color: #0ef;
}

.home-content h3:nth-of-type(2) {
    /* font-family: 'Caprasimo', cursive; */
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1 {
    /* font-family: 'Caprasimo', cursive; */
    font-family: 'Caprasimo', cursive;
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-family: 'Caprasimo', cursive;
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    font-family: 'Caprasimo', cursive;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    font-family: 'Caprasimo', cursive;
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef;

}

.btn-box:hover {
    background-color: #081b29;
    color: #0ef;
    box-shadow: 0 0 20px #0ef;
}


.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;

}

.about-img img{
    max-width: 300px;
    height: auto;
    width: 100%;
    margin: 200px;
    border-radius: 20%;
    border: 5px solid #081b29;
    border-color: #081b29;  
    box-shadow: 0 0 30px #0ef; 
}

.about-text h2{
    font-size: 60px;

}
.about-text h2 span{
    color: #0ef;
}
.about-text h3{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    width: 40rem;
    /* margin-bottom: 4rem; */
    /* margin-left: 20px; */
}


.steps{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #081b29;
    
    /* font-family: 'Caprasimo', cursive; */
}
.first-step.sec-step.third-step.four-step{
    
    padding: 16px 24px;
    grid-column-start: 2;
    grid-column-end: 25;
    border-radius: 64px;
    position: relative;
    overflow: hidden;
    display: grid;
}
.first-grid{
    display: flex;
    background-color: #0ef;
    
    margin-left: 65%;
    margin-right: 6% ;
    padding: 0.7%;
    border: 1cap solid #081b29;
    border-radius: 45px;
    /* box-shadow: 0 0 10px #0ef; */
}
.sec-grid{
    display: flex;
    background-color: #0ef;
    margin-top: 20px;
    margin-left: 45%;
    margin-right: 25% ;
    padding: 0.7%;
    border: 1cap solid #081b29;
    border-radius: 45px;
    /* box-shadow: 0 0 10px #0ef; */
}
.third-grid{
    display: flex;
    background-color: #0ef;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 45% ;
    padding: 0.7%;
    border: 1cap solid #081b29;
    border-radius: 45px;
    /* box-shadow: 0 0 10px #0ef; */
}
.four-grid{
    display: flex;
    background-color: #0ef;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 65%;
    padding: 0.7%;
    border: 1cap solid #081b29;
    border-radius: 45px;
    /* box-shadow: 0 0 10px #0ef; */
    margin-bottom: 10px;
}
.step-content-grid{
    
    display: grid;
    width: 80%;
    padding: 2px;
    margin-left: 4%;
    color: #081b29;
    font-weight: 1000;
}
.time{
    color: #081b29;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
    font-family: 'Caprasimo', cursive;
    font-size: 18px;
}
.grid-topic{
    font-family: 'Caprasimo', cursive;
    font-size: 19px;
}
.grid-subtopic{
    font-family: 'Caprasimo', cursive;
    font-size: 19px;
}

.text-sec{
    display: grid;
    width: 100%;
}
.first-text{
    font-family: 'Caprasimo', cursive;
color: #0ef;
font-size: 50px;
margin: 10% 25% 0 25%;
}
.sec-text{
    font-family: cursive;
    color: #fff;
    
    margin: 5% 25% 10% 25%;
}


.foot{
    display: flex;
    background-color: #081b29;
}
.ate{
    width: 50%;
    margin: 30% 5% 5% 5%;
    
    font-family: 'Caprasimo', cursive;
    font-size: 25px;
}
.profile{
    color: #0ef;
    font-family: 'Caprasimo', cursive;
}
.profiles{
width: 30%;
margin: 10%;
margin-top: 20%;
margin-left: 15%;
display: grid;
}
.profiles a{
    text-decoration: none;
    color: #fff;
    font-family: 'Caprasimo', cursive;
    margin-top: 30px;
}
.profiles a:hover{
    color: #0ef;
}
.cont{
    color: #0ef;
    font-family: 'Caprasimo', cursive;
    margin-bottom: 20px;
}
.contact{
width: 20%;
margin: 10%;
margin-top: 20%;
font-family: 'Caprasimo', cursive;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
